body{
    background-color: #737373;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #ffc857;
    border-bottom: 3px solid #474350;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-bottom-right-radius: 10px ;
}
header>img{
    max-height: 125px;
    display: inline;
    margin-left: 20px;
    margin-top: 40px;
    
}
nav{
    
    text-align: right;
    padding-top: 40px;
}
a{
    font-family: 'Press Start 2P';
    display: inline-flex;
    align-items: center;
    color: #474350;
    text-decoration: none;
    margin-right: 40px;
   
    
}
#button{
    display: inline-block;
    background-color: #F4F7F5;
    height: 60px;
    line-height:60px;
    padding-left: 10px;
    padding-right: 25px;
    box-shadow: 5px 5px 0 #474350;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    
}
a:before{
    content: "";
    display: inline-block;
    background-color: #F4F7F5;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

