header{
    background-color: #ff5757;
    display: flexbox;
}
header>img{
    max-height: 100px;
    display: inline;
}
nav{
    text-align: right;
}
a{
    display: inline-flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    
}
span{
    display: inline-block;
    background-color: white;
    width: 10px;
    height: 10px;
    margin-right: 10px;
   
    
}
#button{
    display: inline-block;
    background-color: white;
    height: 60px;
    line-height:60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
}